@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light;
  font-feature-settings:
    'cv02' 1,
    'cv03' 1,
    'cv04' 1,
    'cv11' 1;
}

html,
body {
  height: 100%;
}

body {
  @apply bg-slate-50 text-slate-900 antialiased;
}

a {
  @apply text-brand-600 hover:text-brand-700 transition-colors;
}
